.AreaTematica {
  line-height: 1;
  font-size: 1em;
  letter-spacing: 1.5px;
  font-weight: 500;
  font-size: 1.2em;
}

.AreaTematica>h2 {
  margin: 0;
  color: #023976;
  margin-bottom: 10px;
  font-size: 3em;
  width: calc(30vh + 30vw);
}

.AreaTematica>p {
  color: #002753;
  font-size: 1em;
  width: calc(31vh + 31vw);
}

.btn {
  display: inline-block;
  margin-top: 1em;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 20px;
  background: #023976;
  background: linear-gradient(90deg, #026eb0 0%, #023976 100%);
  z-index: 20;
  color: #ffffff;
  border-radius: 10px;
  text-decoration: none;
}