
.overlays {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10 !important;
    cursor: pointer;
    color: #b1b1b4;
  }
  
  .arrow {
    font-size: 0.6em;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 20 !important;
    opacity: 1;
  }
  
  .arrow::before {
    content: "";
    position: absolute;
    top: 100%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #b1b1b4;
  }
  