html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
}

body {
  /* position: fixed; */
  /* overflow: hidden; */
  overscroll-behavior-y: none;
  background-color: #b9b9b9;
  background: linear-gradient(180deg, #ffffff 50%, #b9b9b9);
  font-family: "Inter var", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

canvas {
  z-index: -10 !important;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

