html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
}

body {
  position: fixed;
  /* overflow: hidden; */
  overscroll-behavior-y: none;
  background-color: #b9b9b9;
  background: linear-gradient(180deg, #ffffff 50%, #b9b9b9);
  font-family: "Inter var", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

canvas {
  z-index: -10 !important;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
}

.overlays {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10 !important;
}

.arrow {
  font-size: 0.65em;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 20 !important;
  opacity: 1;
}

.arrow::before {
  content: "";
  position: absolute;
  top: 100%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #023976;
}

